[Desktop Entry]
Version=1.0
Type=Link
Name=Mosquitto TLS Cert. Gene.
Comment=Generate client certificates for test.mosquitto.org
Icon=user-bookmarks
URL=https://test.mosquitto.org/ssl/
